.calculator-container {
  max-width: 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "res res res res"
                        "ac neg perc divide"
                        "n7 n8 n9 mult"
                        "n4 n5 n6 minus"
                        "n1 n2 n3 plus"
                        "n0 n0 dec eq";
}

.result {
    grid-area: res;
    text-align: right;
    background-color: rgb(78, 90, 105);
    color: lightgray;
    padding: 0.75rem 0;
}

.n0 {
  grid-area: n0;
}

.orange-button {
  background-color: rgb(252, 197, 97);
}

.orange-button,
.grey-button {
  border: solid lightgray 0.1rem;
  height: 2.5rem;
}

.grey-button:hover {
  background-color: rgb(116, 116, 116);
  color: white;
}

.orange-button:hover {
  background-color: rgb(255, 145, 0);
  color: white;
}