.App {
  min-height: 100vh;
  background-color: #282c34;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  text-align: center;
  color: white;
  padding-bottom: 1rem;
}

.App-header > h1 {
  margin: 0;
}

.App-link {
  color: #61dafb;
}
